html,
body {
  padding: 2rem 1rem;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.grid-container a {
  text-decoration: none;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 250px;
  height: 200px;
}
